<h1>Listing EntityTypes</h1>
 
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
 
  <% @kinds.each do |entityType| %>
    <tr>
      <td><%= entityType.id %></td>
      <td><%= entityType.name %></td>
    </tr>
  <% end %>
</table>